@tailwind base;
@tailwind components;
@tailwind utilities;
/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

@font-face {
  font-family: 'Madina';
  src: url('./fonts/Madina.ttf') format('truetype');
}
@font-face {
  font-family: 'Amperzand';
  src: url('./fonts/Amperzand.ttf') format('truetype');
}
@font-face {
  font-family: 'CursiveSans';
  src: url('./fonts/CursiveSans-Book.ttf') format('truetype');
}
@font-face {
  font-family: 'Alegreya';
  src: url('./fonts/Alegreya-Regular.ttf') format(truetype);
}
@font-face {
  font-family: 'Robecha';
  src: url('./fonts/Robecha.ttf') format(truetype);
}